:root {
  --fondo-oscuro: #0d1014;
  --detalles-bordes: #1e252f;
  --tarjetas: #1a2029bd;
  --texto-principal: #dcdfe4;
  --texto-secundario: #a1a6b2;
  --elemento-destacado: #56748f;
  --hover-efecto: #8ea6c0;
  --acento-beige: #d4c5b0;
  --font-primary: 'Cinzel', serif;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  color: var(--fondo-oscuro);
  font-family: var(--font-primary);
  min-height: 100vh;
  background-size: cover;
  background: linear-gradient(
    to bottom,
    rgba(86, 116, 143, 1) 0%,
    rgb(53, 70, 85) 15%,
    rgba(34, 44, 59, 1) 62%,
    rgba(13, 16, 20, 1) 100%
  );
}
main {
  display: grid;
  grid-template-columns: 13% 85%;
  gap: 40px;
}
header {
  margin-top: 20px;
  max-width: 100%;
  padding: 1% 0 1% 0%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
}
a {
  font-family: var(--font-primary);
  color: var(--texto-principal);
}
img {
  margin-left: 30px;
  width: 90px;
  height: 60px;
}
h1 {
  flex-grow: 1;
  text-align: center;
  margin-right: 80px;
  font-size: 30px;
}
#button {
  font-size: 15px;
  height: 30px;
  color: var(--texto-principal);
  background-color: var(--elemento-destacado);
  font-family: var(--font-primary);
  border-radius: 5px;
  border: none;
}

#button:hover {
  cursor: pointer;
  background-color: var(--hover-efecto);
  color: var(--fondo-oscuro);
}
.productImg {
  margin: 2%;
  height: 40%;
  width: 95%;
  border-radius: 10px;
}
#name {
  color: var(--texto-principal);
  font-size: 17px;
  margin-right: 20px;
}
#price {
  font-size: 15px;
  color: var(--texto-secundario);
}
#seller {
  font-size: 15px;
  color: var(--texto-secundario);
}
.product {
  margin-left: 10px;
  margin-top: 5px;
}
.products {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: start;
  gap: 30px;
}

.tarjetas {
  height: 300px;
  box-shadow: 0px 0px 77px -17px rgba(13, 16, 20, 1);
  max-width: 100;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: space-between;
}
.search {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  color: var(--texto-principal);
  gap: 5px;
}
.hola {
  margin: 5px;
  width: 115px;
  font-family: var(--font-primary);
  box-shadow: 0px 0px 77px -17px rgba(13, 16, 20, 1);
  padding: 2.5px;
  padding-left: 5px;
  background-color: rgba(183, 205, 221, 0.236);
  border: 2px solid var(--detalles-bordes);
  border-radius: 5px;
}
.hola::placeholder {
  color: var(--detalles-bordes);
}
.buscados {
  box-shadow: 0px 0px 77px -17px rgba(13, 16, 20, 1);
  color: var(--texto-principal);
  width: 200px;
  max-width: 100;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}
#ordenar {
  font-family: var(--font-primary);
  font-size: 12px;
  margin: 5px;
  width: 115px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(183, 205, 221, 0.236);
  color: var(--detalles-bordes);
  border: 2px solid var(--detalles-bordes);
}
footer {
  color: var(--texto-secundario);
  font-family: var(--font-primary);
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.datos {
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
#categoria {
  font-size: 17px;
  color: var(--texto-principal);
}
.listas {
  margin: 5px 20px;
  width: 300px;
}
.volver {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
@media (max-width: 840px) {
  main {
    display: contents;
  }
  .products {
    margin: 10px 30px 0px 30px;
  }
  .search {
    display: flex;
    align-items: center;
  }
  .datos {
    font-size: 13px;
  }
  #categoria {
    font-size: 15px;
    color: var(--texto-principal);
  }
  .volver {
    font-size: 15px;
  }
}
@media (max-width: 505px) {
  header {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  img {
    margin-left: 0;
    width: 70px;
    height: 50px;
  }
  h1 {
    margin-left: 0;
    margin-right: 20px;
    font-size: 22px;
  }
  #name {
    font-size: 17px;
    margin: 5px 50px 0px 5px;
  }
  #price {
    font-size: 14px;
    margin: 2.5px 42px 0px 5px;
  }
  #seller {
    font-size: 14px;
    margin-top: 2.5px;
    margin-left: 5px;
  }
  #button {
    width: 95%;
    padding: 2px 2px;
    margin-top: 2.5px;
    margin-left: 5px;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
  }
  .tarjetas {
    width: 200px;
    min-width: 145px;
  }
  .search {
    display: flex;
    flex-wrap: wrap;
  }
  .datos {
    font-size: 10px;
    flex-wrap: wrap;
  }
  #categoria {
    font-size: 13px;
    color: var(--texto-principal);
  }
  .listas {
    min-width: 150px;
    width: 30%;
  }
  .volver {
    font-size: 13px;
  }
}
